body {
  background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
}
.card {
  width: 20rem;
  margin: 0.5rem;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgb(0, 0, 0.259) !important;
}

.card-body {
  padding: 3rem 0 !important;
}

.card-text {
  font-size: 0.9rem;
  padding: 0.4rem 2rem;
}
.container-fluid .row {
  padding-top: 6rem;
}
.Container{
  padding-top: 3rem;
  margin-top: 3rem;
}
.whited {
  color: azure;
  
 
  align-content: flex-start;
}
.CardDeck{

  width: 33%;
 float: inline-start;
  
  padding: 3rem;
}

.welCard{
  align-content: center;

}


.App{
  align-content: center;
}

.r1{
  margin-left: 2rem;
  padding-left: 1rem;
}

h5{
  color: red;
}

.ifr{
  width: 90%;
  height: 500px;
  margin: 1rem;
  padding: 0.4em;
  border-radius: 1px;
}

.btnHolder {
  justify-content: space-between;
  padding: 1em;
  margin: 0.2rem;
  padding-block: 1px;
}
.chatCol{
  margin-bottom: 1rem;
}
#chatWindow{
  background-image: linear-gradient(#F1F1F1 50%, #F9F9F9 50%);
  background-size: 100% 4rem;
  border: 1px solid #CCC;
  width: 100%;
  height: 400px;
  line-height: 2rem;
  margin: 0 auto;
  padding: 4px 8px;
}